<div class="container bg-dark">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3 class="bg-primary text-white p3">
        [{{ getName() }}] To Do List
      </h3>
      <div class="input-group">
        <input type = "text" #todoText class="form-control">
        <div class="input-group-append">
          <Button class="btn btn-dark" (click)="addItem(todoText.value); todoText.value=''; ">Add</Button>
        </div>
      </div>

      <div class="custom-control custom-checkbox my-3 bg-dark">
        <input type="checkbox" [(ngModel)]="isDisplay" class="custom-control-input" name="" id="displayAll">
        <label class="custom-control-label text-white" for="displayAll">Display All</label>
      </div>

      <table class="table table-striped table-bordered bg-dark">
        <thead>
        <tr>
          <th class="bg-primary"></th>
          <th class="bg-primary">Description</th>
          <th class="bg-primary">Action</th>
          <th class="bg-primary"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of getItems(); let i = index ">
          <td class="text-white">{{ i + 1}}</td>
          <td class="text-white">{{item.description}}</td>
          <div class="p-3"><input type="checkbox"  [(ngModel)]="item.action"></div>
          <td class="text-white" [ngSwitch]="item.action">
            <span *ngSwitchCase="true">YES</span>
            <span *ngSwitchCase="false">NO</span>
            <p *ngSwitchDefault></p>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
